@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
body {
  font-family: 'Poppins', sans-serif;
}
.custom_btn {
    margin: 10px;
    padding: 12px 15px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: #fff;
    background:#5062ed;
    border-radius: 28px;
    display: block;
    border: 0;
    font-weight: 700;
    box-shadow: 0px 0px 20px -5px rgba(255, 151, 14, 0.7); 
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  .custom_btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }
  
  .custom_btn:active {
    transform: scale(0.95);
  }



  .border-left-blue {
    position: relative;
  }
  
  .border-left-blue::before {
    content: '';
    position: absolute;
    top: 0;
    left:-4px;
    z-index: -1;
    height: 100%;
    width: 20px; 
    background-color: #5062ed;

    border-radius: 0 0 15px 0;
    border-top-left-radius: 25px; 
    border-bottom-left-radius: 35px;
  }
.width{
    width: calc(100vw - 250px);
}
.height{
  height: calc(100vh - 70px);
}
  /* login page */
  .card {
    backdrop-filter: blur(14px) saturate(129%);
    -webkit-backdrop-filter: blur(14px) saturate(129%);
    background-color: rgba(122, 109, 196, 0.638);
    background-color: rgba(215, 211, 238, 0.994);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    
}
.backGround{
  background-color: #3710b86f;
  /* background-color: #000; */
  
}
.centerDiv{
  background-color: rgba(255, 255, 255, 0.47);
}
.glass-card {
  width: 350px;
  height: 250px; /* Adjusted height for better visibility */
  background: rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  backdrop-filter: blur(8px);
  box-shadow: 0px 8px 32px rgba(31, 38, 135, 0.37);
  /* border: 1px solid rgba(255, 255, 255, 0.18); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}
